html {
    height: 100%;
}

body {
    background: #FFF;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 .912rem 0;
}

h5 {
    font-size: 1.64rem;
    margin: .82rem 0 .656rem 0;
}


/*导航部分*/

.nav {
    width: 100%;
    height: 80px;
    box-shadow: 0 3px 3px 0 #CCC;
    background: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s
}

.nav.index {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
}

.nav .layui-container {
    position: relative;
    transition: all 400ms ease-out;
}

.nav .nav-logo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 80px;
}

.nav .nav-list {
    display: inline-block;
    height: 80px;
}

.nav .nav-list button {
    width: 25px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav .nav-list button span {
    display: block;
    width: 25px;
    height: 2px;
    background: #2db5a3;
    margin-bottom: 6px;
    transition: 0.5s;
}

.nav .nav-list button span.spa1 {
    transform: rotate(45deg);
}

.nav .nav-list button span.spa3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav .layui-nav {
    width: 100%;
    position: absolute;
    top: 80px;
    right: 0;
    color: #000;
    background: transparent;
}

.nav .layui-nav .layui-nav-item {
    display: block;
    line-height: 60px;
}

.nav .layui-nav * {
    font-size: 18px;
}

.nav .layui-nav .layui-nav-item a {
    padding: 0 0;
    color: #000;
}

.nav .layui-nav-bar,
.nav .layui-nav .layui-this:after {
    height: 2px;
    background-color: #2db5a3;
}

.nav .layui-nav .layui-this a,
.nav .layui-nav .layui-nav-item a:hover {
    color: #2db5a3;
}


/*小屏幕*/

@media screen and (min-width: 768px) {
    .nav {
        max-height: 80px;
    }
    .nav.index {
        background: rgba(255, 255, 255, 0);
    }
    .nav .nav-list button {
        display: none;
    }
    .nav .layui-nav {
        width: auto;
        position: absolute;
        top: 0;
        padding: 0 5px;
        border-radius: 0;
        margin: 0;
    }
    .nav .layui-nav .layui-nav-item {
        display: inline-block;
        margin: 0 53px;
        line-height: 80px;
    }
    .timeline-cus p.title,
    p.title {
        font-size: 36px;
        line-height: 216px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .content div.right {
        padding-left: 20px;
    }
    .nav .layui-nav .layui-nav-item {
        margin: 0 33px;
    }
}

@media screen and (min-width: 1300px) {
    .layui-container {
        width: 1200px;
        padding: 0;
    }
    .nav .nav-logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .layui-col-space80 {
        margin: -40px;
    }
    .layui-col-space80>* {
        padding: 40px;
    }
}

.center {
    text-align: center;
}


/*内容*/

.content-cus {
    padding-top: 80px;
    flex: 1;
}

.content-cus .layui-container {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*底部*/

.footer {
    height: 196px;
    background: #2F4056;
    display: flex;
    align-items: center;
}

.footer .footer-web a {
    color: #a5aaa9;
    line-height: 22px;
    margin-right: 20px;
    transition: 0.3s;
}

.footer .footer-web a:hover {
    color: #dce1e0;
    transition: 0.3s;
}

.footer .footer-copyright {
    line-height: 30px;
    color: #FFF;
    text-align: end;
}